In [57]:
import pandas as pd
import numpy as np
import gc
from sklearn.preprocessing import LabelEncoder

train = pd.read_csv('data/train_after_feature_selection.csv')
test = pd.read_csv('data/test_after_feature_selection.csv')

In [58]:
train['TransactionAmt_bin'] = pd.cut(train['TransactionAmt'].astype(int),500)
test['TransactionAmt_bin'] = pd.cut(test['TransactionAmt'].astype(int),500)

train.head(20)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,id_37_F,id_38_F,DeviceType_desktop,P_emaildomain,id_30,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin
0,0,68.5000,13926.0,363.33368,150.0,142.0,315.0000,19.0,1.0,1.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(63.872, 127.744]"
1,1,29.0000,2755.0,404.00000,150.0,102.0,325.0000,8.0,1.0,1.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]"
2,2,59.0000,4663.0,490.00000,150.0,166.0,330.0000,287.0,1.0,1.0,...,NaN,NaN,NaN,35,74,103,260,1732,0.0,"(-31.936, 63.872]"
3,3,50.0000,18132.0,567.00000,150.0,117.0,476.0000,8.0,2.0,5.0,...,NaN,NaN,NaN,53,74,103,260,1732,0.0,"(-31.936, 63.872]"
4,4,50.0000,4497.0,514.00000,150.0,102.0,420.0000,8.0,1.0,1.0,...,0.0,0.0,0.0,16,7,124,164,948,0.0,"(-31.936, 63.872]"
5,5,49.0000,5937.0,555.00000,150.0,226.0,272.0000,36.0,1.0,1.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]"
6,6,159.0000,12308.0,360.00000,150.0,166.0,126.0000,0.0,1.0,1.0,...,NaN,NaN,NaN,53,74,103,260,1732,0.0,"(127.744, 191.616]"
7,7,422.5000,12695.0,490.00000,150.0,226.0,325.0000,8.0,1.0,1.0,...,NaN,NaN,NaN,29,74,103,260,1732,0.0,"(383.232, 447.104]"
8,8,15.0000,2803.0,100.00000,150.0,226.0,337.0000,8.0,1.0,1.0,...,1.0,0.0,0.0,1,63,98,48,1717,0.0,"(-31.936, 63.872]"
9,9,117.0000,17399.0,111.00000,150.0,224.0,204.0000,19.0,2.0,2.0,...,NaN,NaN,NaN,53,74,103,260,1732,0.0,"(63.872, 127.744]"
10,10,75.8750,16496.0,352.00000,117.0,134.0,291.2982,8.0,1.0,4.0,...,0.0,0.0,1.0,16,42,44,132,1589,0.0,"(63.872, 127.744]"
11,11,16.5000,4461.0,375.00000,185.0,224.0,291.2982,8.0,1.0,1.0,...,0.0,0.0,1.0,19,42,44,132,1589,0.0,"(-31.936, 63.872]"
12,12,50.0000,3786.0,418.00000,150.0,226.0,204.0000,8.0,4.0,2.0,...,NaN,NaN,NaN,48,74,103,260,1732,0.0,"(-31.936, 63.872]"
13,13,40.0000,12866.0,303.00000,150.0,226.0,330.0000,8.0,6.0,5.0,...,NaN,NaN,NaN,2,74,103,260,1732,0.0,"(-31.936, 63.872]"
14,14,10.5000,11839.0,490.00000,150.0,226.0,226.0000,8.0,1.0,1.0,...,NaN,NaN,NaN,53,74,103,260,1732,0.0,"(-31.936, 63.872]"
15,15,57.9375,7055.0,555.00000,150.0,226.0,315.0000,3.0,4.0,4.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]"
16,16,30.0000,1790.0,555.00000,150.0,226.0,170.0000,8.0,1.0,1.0,...,0.0,0.0,1.0,2,24,44,40,719,0.0,"(-31.936, 63.872]"
17,17,100.0000,11492.0,111.00000,150.0,219.0,204.0000,8.0,1.0,1.0,...,0.0,0.0,1.0,53,42,44,60,1589,0.0,"(63.872, 127.744]"
18,18,47.9375,4663.0,490.00000,150.0,166.0,184.0000,5.0,1.0,1.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]"
19,19,186.0000,7005.0,111.00000,150.0,226.0,264.0000,8.0,2.0,5.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(127.744, 191.616]"

In [59]:
label = LabelEncoder()
train['TransactionAmt_bin_code'] = label.fit_transform(train['TransactionAmt_bin'])
test['TransactionAmt_bin_code'] = label.fit_transform(test['TransactionAmt_bin'])
train.head(20)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,id_38_F,DeviceType_desktop,P_emaildomain,id_30,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code
0,0,68.5000,13926.0,363.33368,150.0,142.0,315.0000,19.0,1.0,1.0,...,NaN,NaN,16,74,103,260,1732,0.0,"(63.872, 127.744]",1
1,1,29.0000,2755.0,404.00000,150.0,102.0,325.0000,8.0,1.0,1.0,...,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0
2,2,59.0000,4663.0,490.00000,150.0,166.0,330.0000,287.0,1.0,1.0,...,NaN,NaN,35,74,103,260,1732,0.0,"(-31.936, 63.872]",0
3,3,50.0000,18132.0,567.00000,150.0,117.0,476.0000,8.0,2.0,5.0,...,NaN,NaN,53,74,103,260,1732,0.0,"(-31.936, 63.872]",0
4,4,50.0000,4497.0,514.00000,150.0,102.0,420.0000,8.0,1.0,1.0,...,0.0,0.0,16,7,124,164,948,0.0,"(-31.936, 63.872]",0
5,5,49.0000,5937.0,555.00000,150.0,226.0,272.0000,36.0,1.0,1.0,...,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0
6,6,159.0000,12308.0,360.00000,150.0,166.0,126.0000,0.0,1.0,1.0,...,NaN,NaN,53,74,103,260,1732,0.0,"(127.744, 191.616]",2
7,7,422.5000,12695.0,490.00000,150.0,226.0,325.0000,8.0,1.0,1.0,...,NaN,NaN,29,74,103,260,1732,0.0,"(383.232, 447.104]",6
8,8,15.0000,2803.0,100.00000,150.0,226.0,337.0000,8.0,1.0,1.0,...,0.0,0.0,1,63,98,48,1717,0.0,"(-31.936, 63.872]",0
9,9,117.0000,17399.0,111.00000,150.0,224.0,204.0000,19.0,2.0,2.0,...,NaN,NaN,53,74,103,260,1732,0.0,"(63.872, 127.744]",1
10,10,75.8750,16496.0,352.00000,117.0,134.0,291.2982,8.0,1.0,4.0,...,0.0,1.0,16,42,44,132,1589,0.0,"(63.872, 127.744]",1
11,11,16.5000,4461.0,375.00000,185.0,224.0,291.2982,8.0,1.0,1.0,...,0.0,1.0,19,42,44,132,1589,0.0,"(-31.936, 63.872]",0
12,12,50.0000,3786.0,418.00000,150.0,226.0,204.0000,8.0,4.0,2.0,...,NaN,NaN,48,74,103,260,1732,0.0,"(-31.936, 63.872]",0
13,13,40.0000,12866.0,303.00000,150.0,226.0,330.0000,8.0,6.0,5.0,...,NaN,NaN,2,74,103,260,1732,0.0,"(-31.936, 63.872]",0
14,14,10.5000,11839.0,490.00000,150.0,226.0,226.0000,8.0,1.0,1.0,...,NaN,NaN,53,74,103,260,1732,0.0,"(-31.936, 63.872]",0
15,15,57.9375,7055.0,555.00000,150.0,226.0,315.0000,3.0,4.0,4.0,...,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0
16,16,30.0000,1790.0,555.00000,150.0,226.0,170.0000,8.0,1.0,1.0,...,0.0,1.0,2,24,44,40,719,0.0,"(-31.936, 63.872]",0
17,17,100.0000,11492.0,111.00000,150.0,219.0,204.0000,8.0,1.0,1.0,...,0.0,1.0,53,42,44,60,1589,0.0,"(63.872, 127.744]",1
18,18,47.9375,4663.0,490.00000,150.0,166.0,184.0000,5.0,1.0,1.0,...,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0
19,19,186.0000,7005.0,111.00000,150.0,226.0,264.0000,8.0,2.0,5.0,...,NaN,NaN,16,74,103,260,1732,0.0,"(127.744, 191.616]",2

In [60]:
train['card1_bin'] = pd.cut(train['card1'].astype(int),500)
test['card1_bin'] = pd.cut(test['card1'].astype(int),500)
train.head(20)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,DeviceType_desktop,P_emaildomain,id_30,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code,card1_bin
0,0,68.5000,13926.0,363.33368,150.0,142.0,315.0000,19.0,1.0,1.0,...,NaN,16,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(13907.832, 13942.624]"
1,1,29.0000,2755.0,404.00000,150.0,102.0,325.0000,8.0,1.0,1.0,...,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(2739.6, 2774.392]"
2,2,59.0000,4663.0,490.00000,150.0,166.0,330.0000,287.0,1.0,1.0,...,NaN,35,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(4653.16, 4687.952]"
3,3,50.0000,18132.0,567.00000,150.0,117.0,476.0000,8.0,2.0,5.0,...,NaN,53,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(18117.664, 18152.456]"
4,4,50.0000,4497.0,514.00000,150.0,102.0,420.0000,8.0,1.0,1.0,...,0.0,16,7,124,164,948,0.0,"(-31.936, 63.872]",0,"(4479.2, 4513.992]"
5,5,49.0000,5937.0,555.00000,150.0,226.0,272.0000,36.0,1.0,1.0,...,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(5905.672, 5940.464]"
6,6,159.0000,12308.0,360.00000,150.0,166.0,126.0000,0.0,1.0,1.0,...,NaN,53,74,103,260,1732,0.0,"(127.744, 191.616]",2,"(12307.4, 12342.192]"
7,7,422.5000,12695.0,490.00000,150.0,226.0,325.0000,8.0,1.0,1.0,...,NaN,29,74,103,260,1732,0.0,"(383.232, 447.104]",6,"(12690.112, 12724.904]"
8,8,15.0000,2803.0,100.00000,150.0,226.0,337.0000,8.0,1.0,1.0,...,0.0,1,63,98,48,1717,0.0,"(-31.936, 63.872]",0,"(2774.392, 2809.184]"
9,9,117.0000,17399.0,111.00000,150.0,224.0,204.0000,19.0,2.0,2.0,...,NaN,53,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(17387.032, 17421.824]"
10,10,75.8750,16496.0,352.00000,117.0,134.0,291.2982,8.0,1.0,4.0,...,1.0,16,42,44,132,1589,0.0,"(63.872, 127.744]",1,"(16482.44, 16517.232]"
11,11,16.5000,4461.0,375.00000,185.0,224.0,291.2982,8.0,1.0,1.0,...,1.0,19,42,44,132,1589,0.0,"(-31.936, 63.872]",0,"(4444.408, 4479.2]"
12,12,50.0000,3786.0,418.00000,150.0,226.0,204.0000,8.0,4.0,2.0,...,NaN,48,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(3783.36, 3818.152]"
13,13,40.0000,12866.0,303.00000,150.0,226.0,330.0000,8.0,6.0,5.0,...,NaN,2,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(12864.072, 12898.864]"
14,14,10.5000,11839.0,490.00000,150.0,226.0,226.0000,8.0,1.0,1.0,...,NaN,53,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(11820.312, 11855.104]"
15,15,57.9375,7055.0,555.00000,150.0,226.0,315.0000,3.0,4.0,4.0,...,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(7053.808, 7088.6]"
16,16,30.0000,1790.0,555.00000,150.0,226.0,170.0000,8.0,1.0,1.0,...,1.0,2,24,44,40,719,0.0,"(-31.936, 63.872]",0,"(1765.424, 1800.216]"
17,17,100.0000,11492.0,111.00000,150.0,219.0,204.0000,8.0,1.0,1.0,...,1.0,53,42,44,60,1589,0.0,"(63.872, 127.744]",1,"(11472.392, 11507.184]"
18,18,47.9375,4663.0,490.00000,150.0,166.0,184.0000,5.0,1.0,1.0,...,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(4653.16, 4687.952]"
19,19,186.0000,7005.0,111.00000,150.0,226.0,264.0000,8.0,2.0,5.0,...,NaN,16,74,103,260,1732,0.0,"(127.744, 191.616]",2,"(6984.224, 7019.016]"

In [61]:
label = LabelEncoder()
train['card1_bin_code'] = label.fit_transform(train['card1_bin'])
test['card1_bin_code'] = label.fit_transform(test['card1_bin'])
train.head(20)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,P_emaildomain,id_30,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code,card1_bin,card1_bin_code
0,0,68.5000,13926.0,363.33368,150.0,142.0,315.0000,19.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(13907.832, 13942.624]",371
1,1,29.0000,2755.0,404.00000,150.0,102.0,325.0000,8.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(2739.6, 2774.392]",50
2,2,59.0000,4663.0,490.00000,150.0,166.0,330.0000,287.0,1.0,1.0,...,35,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(4653.16, 4687.952]",105
3,3,50.0000,18132.0,567.00000,150.0,117.0,476.0000,8.0,2.0,5.0,...,53,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(18117.664, 18152.456]",492
4,4,50.0000,4497.0,514.00000,150.0,102.0,420.0000,8.0,1.0,1.0,...,16,7,124,164,948,0.0,"(-31.936, 63.872]",0,"(4479.2, 4513.992]",100
5,5,49.0000,5937.0,555.00000,150.0,226.0,272.0000,36.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(5905.672, 5940.464]",141
6,6,159.0000,12308.0,360.00000,150.0,166.0,126.0000,0.0,1.0,1.0,...,53,74,103,260,1732,0.0,"(127.744, 191.616]",2,"(12307.4, 12342.192]",325
7,7,422.5000,12695.0,490.00000,150.0,226.0,325.0000,8.0,1.0,1.0,...,29,74,103,260,1732,0.0,"(383.232, 447.104]",6,"(12690.112, 12724.904]",336
8,8,15.0000,2803.0,100.00000,150.0,226.0,337.0000,8.0,1.0,1.0,...,1,63,98,48,1717,0.0,"(-31.936, 63.872]",0,"(2774.392, 2809.184]",51
9,9,117.0000,17399.0,111.00000,150.0,224.0,204.0000,19.0,2.0,2.0,...,53,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(17387.032, 17421.824]",471
10,10,75.8750,16496.0,352.00000,117.0,134.0,291.2982,8.0,1.0,4.0,...,16,42,44,132,1589,0.0,"(63.872, 127.744]",1,"(16482.44, 16517.232]",445
11,11,16.5000,4461.0,375.00000,185.0,224.0,291.2982,8.0,1.0,1.0,...,19,42,44,132,1589,0.0,"(-31.936, 63.872]",0,"(4444.408, 4479.2]",99
12,12,50.0000,3786.0,418.00000,150.0,226.0,204.0000,8.0,4.0,2.0,...,48,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(3783.36, 3818.152]",80
13,13,40.0000,12866.0,303.00000,150.0,226.0,330.0000,8.0,6.0,5.0,...,2,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(12864.072, 12898.864]",341
14,14,10.5000,11839.0,490.00000,150.0,226.0,226.0000,8.0,1.0,1.0,...,53,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(11820.312, 11855.104]",311
15,15,57.9375,7055.0,555.00000,150.0,226.0,315.0000,3.0,4.0,4.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(7053.808, 7088.6]",174
16,16,30.0000,1790.0,555.00000,150.0,226.0,170.0000,8.0,1.0,1.0,...,2,24,44,40,719,0.0,"(-31.936, 63.872]",0,"(1765.424, 1800.216]",22
17,17,100.0000,11492.0,111.00000,150.0,219.0,204.0000,8.0,1.0,1.0,...,53,42,44,60,1589,0.0,"(63.872, 127.744]",1,"(11472.392, 11507.184]",301
18,18,47.9375,4663.0,490.00000,150.0,166.0,184.0000,5.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(4653.16, 4687.952]",105
19,19,186.0000,7005.0,111.00000,150.0,226.0,264.0000,8.0,2.0,5.0,...,16,74,103,260,1732,0.0,"(127.744, 191.616]",2,"(6984.224, 7019.016]",172